<h1>
    Photo Gallery </h1>
    <H2><p>Let's Butterfly Touch You.
        Glow Everyday.</p></H2>
    
    
    <hr/>
    
   
    
    <main>
     <div class="box">
    <img src="assets/images/fond1.jpg"></div>
    <div class="box">
    <img src="assets/images/g2.jpg"></div>
    <div class="box">
    <img src="assets/images/lip3.jpg"></div>
    <div class="box">
    <img src="assets/images/fond2.jpg"></div>
    <div class="box">
    <img src="assets/images/fond1.jpg"></div>
    <div class="box">
    <img src="assets/images/g4.jpg"></div>
    <div class="box">
    <img src="assets/images/brush1.jpg"></div>
    <div class="box">
    <img src="assets/images/photo-1583241800698-e8ab01830a07.jpg"></div>
    <div class="box">
        <img src="assets/images/cos2.jpg"></div>
        <div class="box">
            <img src="assets/images/g6.jpg"></div>
    </main>
    