<h1>Look beautiful, think beautiful.</h1>
<h2>New Laounch</h2>

<div class="main">
   
  <div class="card">
  
  <div class="image">
     <img src="assets/images/brush1.jpg">
      </div>
  <div class="title">
   <h1>
  Write title Here</h1>
  </div>
  <div class="des">
   <p>You can Add Desccription Here...</p>
  <button>Read More...</button>
  </div>
  </div>

  
  <div class="card">
  
  <div class="image">
     <img src="assets/images/brush2.jpg">
  </div>
  <div class="title">
   <h1>
  Write title Here</h1>
  </div>
  <div class="des">
   <p>You can Add Desccription Here...</p>
  <button>Read More...</button>
  </div>
  </div>


  <div class="card">
  
  <div class="image">
     <img src="assets/images/cos3.jpg">
  </div>
  <div class="title">
   <h1>
  Write title Here</h1>
  </div>
  <div class="des">
   <p>You can Add Desccription Here...</p>
  <button>Read More...</button>
  </div>
  </div> 
  
  <div class="card">
  
  <div class="image">
     <img src="assets/images/cos2.jpg">
  </div>
  <div class="title">
   <h1>
  Write title Here</h1>
  </div>
  <div class="des">
   <p>You can Add Desccription Here...</p>
  <button>Read More...</button>
  </div>
  </div>
 
  </div>